<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
                <form action="/" method="POST">
                    
                        <div>
                        <!-- nombre y apellido -->       
                        <h5>nombre y apellido</h5>       
                        <input type="text" name="nombre" placeholder="nombre y apellido" minlength="7" required>
                        </div>

                        <div>
                            <!-- Nombre de usuari@ -->      
                            <h5>Nombre de usuari@</h5>        
                        <input type="text" name="usuario" placeholder="Nombre de usuari@" minlength="7"required>
                        </div>

                        <div>
                            <!-- Fecha de nacimiento -->
                            <h5>Fecha de nacimiento</h5>
                            <input type="date" name="fecha" required>
                        </div>
                        <div>
                            <!-- Domicilio -->
                            <h5>domicilio</h5>
                            <input type="text" name="domicilio" placeholder="Domicilio" required>
                        </div>
                        <div>
                            <!-- Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender) -->
                            <h5>Perfil del usuario</h5>
                            <input type="radio" name="perfil" value="comprar" id="comprar">
                            <label for="comprar">comprador</label>
                            <input type="radio" name="perfil" value="vender" id="vender">
                            <label for="vender">vendedor</label>
                        </div>
                        <div>
                            <!-- Categorías de interés (puede elegir más de una)Electro
                            ● Moda
                            ● Hogar
                            ● Juguetería
                            ● Vida sana -->
                            <h5>Categorias de Interés</h5>
                                <div>
                                    <input type="checkbox" name="interes" value="electro" id="electro">
                                    <label for="electro">Electro</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="interes" value="Moda" id="Moda">
                                    <label for="Moda">Moda</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="interes" value="Hogar" id="Hogar">
                                    <label for="Hogar">Hogar</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="interes" value="jugeteria" id="jugeteria">
                                    <label for="jugeteria">Juguetería</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                                    <label for="vidaSana">Vida sana</label>
                                </div>
                        </div>
                        <div>
                            <!-- Foto de usuario -->
                            <h5>Foto de usuario</h5>
                            <input type="file" name="fotoUsuario">
                        </div>
                        <div>
                            <!-- Contraseña -->
                            <h5>contraseña</h5>
                            <input type="password"name="pw" placeholder="elegi tu contraseña" minlength="5"required>
                        </div>
                        <div>
                            <!-- Confirmar contraseña -->
                            <h5>confirmar contraseña</h5>
                            <input type="password"name="confirmarPw" placeholder="confirmar tu contraseña" minlength="5"required>
                        </div>
                        <div>                
                            <!-- Botón de enviar que nos lleve a la página principal -->
                            <!-- Botón de borrar todos los datos del formulario -->
                            <input type="submit" name="enviar" value="Enviar">
                            <input type="reset" name="borrar" value="Borrar">
                        </div>
                
                        
                </form>
                
        <footer>
        </footer>
    </body>
</html>