<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                
                    <div class="logo"> 
                        <a href="http://localhost:3000/">
                            <img src="images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre">
                        </a>
                    </div>
                
                <div class="form" action="#" method="GET">
                    <input class="busqueda" type="text" placeholder="Buscar productos, marcas y más" name="busqueda">
                     <!-- <div class="input" type="text" placeholder="">Buscar productos, marcas y más</div> --> 
                     <!-- <div class="submit">
                        <i class="fa fa-search"></i></div>  -->
                       <form action="/">
                            <!-- <input type="text" placeholder="Buscar productos, marcas y más" name="busqueda"> -->
                             <button class="lupa"><i class="fa fa-search"></i></button>
                        </form>
                </div>
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="navMenu">
                <ul class="navSite">
                    <li class="site"><a href="/ofertas">Ofertas</a></li>
                    <li class="site"><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                    <li class="site"><a href="/vender">Vender</a></li>
                    <li class="site"><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul class="navLogin">
                    <li class="site"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li class="site"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="site"><a href="/misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        </header>
            
               <section class="register">
                <form action="/" method="POST" >
                    
                        <p>
                        <!-- nombre y apellido -->                       
                        <input class="loginUser" type="text" name="nombre" placeholder="nombre y apellido" minlength="7" required>
                        </p>
                        <p>
                            <!-- Nombre de usuari@ -->      
                        <input class="loginUser" type="text" name="usuario" placeholder="Nombre de usuari@" minlength="7"required>
                        </p>

                        <p>
                            <!-- Fecha de nacimiento -->
                            <label  for="fecha">Fecha de nacimiento</label><br>
                                
                            <input class="fechaNacimiento" type="date" name="fecha" required>
                        </p>
                        <p>
                            <!-- Domicilio -->
                            <input  class="loginUser" type="text" name="domicilio" placeholder="Domicilio" required>
                        </p>
                        <p>
                            <!-- Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender) -->
                            <label for="perfil">Perfil de Usuario</label><br>
                            <input type="radio" name="perfil" value="comprar" id="comprar">
                            <label for="comprar">comprador</label>
                            <input type="radio" name="perfil" value="vender" id="vender">
                            <label for="vender">vendedor</label>
                        </p>
                        <p>
                            <!-- Categorías de interés (puede elegir más de una)
                            ● Electro
                            ● Moda
                            ● Hogar
                            ● Juguetería
                            ● Vida sana -->
                            <label for="interes">Intereses</label>
                            <p>
                                <input type="checkbox" name="interes" value="electro" id="electro">
                                <label for="electro">Electro</label>
                            </p>
                            <p>
                                <input type="checkbox" name="interes" value="Moda" id="Moda">
                                <label for="Moda">Moda</label>
                            </p>
                            <p>
                                <input type="checkbox" name="interes" value="Hogar" id="Hogar">
                                <label for="Hogar">Hogar</label>
                            </p>
                            <p>
                                <input type="checkbox" name="interes" value="jugeteria" id="jugeteria">
                                <label for="jugeteria">  Juguetería</label>
                            </p>
                            <p>
                                <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                                <label for="vidaSana">  Vida sana</label>
                            </p>
                        </p>
                        <p>
                            <!-- Foto de usuario -->
                            <label for="fotoUsuario">Foto de Perfil</label><br>
                            <input class="perfilArchivo" type="file" name="fotoUsuario">
                        </p>
                        <p>
                            <!-- Contraseña -->
                            
                            <input  class="loginUser" type="password" name="Pw" placeholder="escribe tu contraseña" minlength="5" required>
                        </p>
                        <p>
                            <!-- Confirmar contraseña -->
                            <input  class="loginUser" type="password" name="confirmarPw" placeholder="confirmar tu contraseña" minlength="5" required>
                        </p>
                        <p>                
                            <!-- Botón de enviar que nos lleve a la página principal -->
                            <!-- Botón de borrar todos los datos del formulario -->
                            <input class="enviarLogin" type="submit" name="enviar" value="Enviar">
                            <input class="enviarLogin" type="reset" name="borrar" value="Borrar">
                        </p>
                
                        
                </form>

            </section>             
                
                <footer class="alineacion">
                    <section class="pie">
                        <i class="fa-solid fa-credit-card fa-2xl"></i>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                            pago. ¡Y siempre es seguro!</p>
                            <br>
                        <i class="fa-solid fa-gift fa-2xl"></i>
                        <h4>Envío gratis desde $ 1.999</h4>
                        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos</p>
                            <br>
                        <i class="fa-solid fa-user-shield fa-2xl"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegido.</p>
                        <h5>Copyright © 1999-2019 MercadoLiebre S.R.L.</h5>
                    </section>
                </footer>           
     </body>        
</html>
                